<h1 class='center'>Pokémon</h1>
  <div class='container'>
    <div class="row">
    <div *ngFor='let pokemon of pokemons' class="col s6 m4">
      <div class="card horizontal" (click)="onSelect(pokemon)" pkmnBorderCard>
        <div class="card-image">
          <img src="{{pokemon.sprites.front_default}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ pokemon.name }}</p>
            <div>
              <p class="badge">#{{ pokemon.id }}</p>
              <div *ngFor="let i of pokemon.types">
                <img src="../../assets/{{ i }}" />
              </div>
            </div>          
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>