<div class="row">
  <div *ngIf="pokemon" class="col s12 m8 offset-m2">
    <h2 class="header center">{{ pokemon.name | uppercase }}</h2>
    <div class="center-align">
      <span *ngFor='let type of pokemon.types' class="{{ type.name | pokemonTypeColor }}">{{ type.name | titlecase}}</span>
    </div>
    <div class="pokemon-sprites">
      <div>
        <img class="pokemon-image" src="{{ pokemon.imageUrlFrontDefault }}" />
        <img class="pokemon-image" src="{{ pokemon.imageUrlBackDefault }}" />
      </div>
      <div>
        <img class="pokemon-image" src="{{ pokemon.imageUrlFrontShiny}}" />
        <img class="pokemon-image" src="{{ pokemon.imageUrlBackShinyt }}" />
      </div>
    </div>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr *ngFor="let pokemonStat of pokemon.stats">
                <td>{{ pokemonStat.name | titlecase }}</td>
                <td><strong>{{ pokemonStat.value }}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goBack()">Return</a>
        </div>
      </div>
    </div>
  </div>
</div>
